.form-group.required .control-label:after {
    content: "*";
    color: red;
}



.panel-default > .panel-heading-custom {
    background: rgb(28, 28, 32);
     color: #fff; }


.panel.panel-default {
    margin-left: 130px;
    margin-right: 130px;
    margin-top:50px;
    width:85%;
    height:50%;
}



.flex-container {
    display: flex;
}

ul.list-group {
    width: 70%;
    display: inline-block;
}

div.view-buttons {
    display: inline-block;
    margin-left: 20px;
}

.flex-container div.view-buttons .btn-default {
    margin-bottom: 10px;
    display: block;
}

.checkbox {
    min-height: auto;
}

.checkbox label {
    padding-left: 30px;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 -30px;
}

#search_btn {
    background-color: rgb(41, 33, 33);
    color: white;
}

#edit_btn {
    background-color: rgb(41, 33, 33);
    color: white;
}

#suspend_btn {
    background-color: rgb(41, 33, 33);
    color: white;
}

#add_btn {
    background-color: rgb(41, 33, 33);
    color: white;
    
}


#reset_btn{
    background-color: rgb(41, 33, 33);
    color: white;
}